In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("kek.csv")
df.columns

Index(['Unnamed: 0', 'title', 'href', 'company', 'requirement', 'salary'], dtype='object')

In [5]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [6]:
df.head()

,title,href,company,requirement,salary
0,Разработчик Python,https://hh.ru/vacancy/30451399?query=Python,Открытые Технологии,Знание языка Python (версия 2 и 3). Опыт работ...,150000.0
1,Разработчик Python,https://hh.ru/vacancy/31067847?query=Python,ООО Коннектом,Инициативность и целеустремленность. Хорошее з...,160000.0
2,Python / Django developer,https://hh.ru/vacancy/30226206?query=Python,NetworkOptix,Bachelor or master degree in STEM field. Exper...,4000.0
3,Программист Python,https://hh.ru/vacancy/30109493?query=Python,Star-staff,Коммерческий опыт на Python минимум 2-3 года. ...,145000.0
4,Разработчик Python,https://hh.ru/vacancy/30424698?query=Python,ООО ВижнЛабс (VisionLabs),Необходимый опыт и знания: - Широкий опыт разр...,120000.0

In [8]:
df = df.dropna()

In [12]:
df['requirement']

0     Знание языка Python (версия 2 и 3). Опыт работ...
1     Инициативность и целеустремленность. Хорошее з...
2     Bachelor or master degree in STEM field. Exper...
3     Коммерческий опыт на Python минимум 2-3 года. ...
4     Необходимый опыт и знания: - Широкий опыт разр...
5     Опыт коммерческой разработки на Python от 2-х ...
6     Опыт разработки на Python не менее 3 лет, разр...
7     опыт организации асинхронных API на Celery (Py...
8     Любопытство и жажда знаний. Доброжелательность...
9     Python-разработчик, найдись! Уверенное владени...
10    Знание Python на уровне Middle. Опыт работы в ...
12    Опыт работы: Python(Flask, BeautifulSoup, Spla...
Name: requirement, dtype: object